In [8]:
import pandas as pd
data = pd.read_csv('test.csv', encoding='latin1')
data.info()
data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16435857 entries, 0 to 16435856
Data columns (total 22 columns):
 #   Column             Dtype
---  ------             -----
 0   DATAFLOW           object
 1   FREQ               object
 2   TIME_PERIOD        int64
 3   REF_AREA           object
 4   GENDER             int64
 5   CHARACTERISTIC     int64
 6   STATISTIC          int64
 7   OBS_VALUE          float64
 8   DECIMALS           float64
 9   FLAG               float64
 10  TOPIC              float64
 11  NOTE               float64
 12  RELEASE_DATE       float64
 13  GEO_LEVEL          float64
 14  ALT_GEO_CODE       float64
 15  GEO_DESC           float64
 16  PROV_TERR          float64
 17  DATA_QUALITY_FLAG  float64
 18  TNR_LF             float64
 19  TNR_SF             float64
 20  CI_LOW             float64
 21  CI_HIGH            float64
dtypes: float64(15), int64(4), object(3)
memory usage: 2.7+ GB

,DATAFLOW,FREQ,TIME_PERIOD,REF_AREA,GENDER,CHARACTERISTIC,STATISTIC,OBS_VALUE,DECIMALS,FLAG,...,RELEASE_DATE,GEO_LEVEL,ALT_GEO_CODE,GEO_DESC,PROV_TERR,DATA_QUALITY_FLAG,TNR_LF,TNR_SF,CI_LOW,CI_HIGH
0,STC_CP:DF_CT(1.3),A5,2021,2021S05070010001_00,1,1,1,1643.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STC_CP:DF_CT(1.3),A5,2021,2021S05070010001_00,1,2,1,1734.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,STC_CP:DF_CT(1.3),A5,2021,2021S05070010001_00,1,3,1,-5.20,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,STC_CP:DF_CT(1.3),A5,2021,2021S05070010001_00,1,4,1,764.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,STC_CP:DF_CT(1.3),A5,2021,2021S05070010001_00,1,5,1,705.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,STC_CP:DF_CT(1.3),A5,2021,2021S05070010001_00,1,6,1,161.90,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,STC_CP:DF_CT(1.3),A5,2021,2021S05070010001_00,1,7,1,10.15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,STC_CP:DF_CT(1.3),A5,2021,2021S05070010001_00,1,8,1,1640.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,STC_CP:DF_CT(1.3),A5,2021,2021S05070010001_00,1,9,1,240.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,STC_CP:DF_CT(1.3),A5,2021,2021S05070010001_00,1,10,1,60.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data['GEO_LEVEL'].value_counts()

GEO_LEVEL
Census tract                16435857
Census metropolitan area      107871
Census agglomeration           23679
Name: count, dtype: int64

In [59]:
print(data['CHARACTERISTIC_NAME'].value_counts())

CHARACTERISTIC_NAME
  English                                                                                                                                                     37482
  English and French                                                                                                                                          37482
  65 years and over                                                                                                                                           37482
  French                                                                                                                                                      31235
  Multiple non-official languages                                                                                                                             24988
                                                                                                                                                              ...
  Bicycle                                                                                                                                                      6247
  Other method                                                                                                                                                 6247
Total - Commuting duration for the employed labour force aged 15 years and over with a usual place of work or no fixed workplace address - 25% sample data     6247
  Less than 15 minutes                                                                                                                                         6247
    35 to 39 years                                                                                                                                             6247
Name: count, Length: 1762, dtype: int64

In [61]:
import pandas as pd
#data = pd.read_csv('98-401-X2021007_English_CSV_data.csv', encoding = 'latin1')
#data = data[data['GEO_LEVEL'] == 'Census tract']
data.iloc[60:100,:15]

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,CHARACTERISTIC_NOTE,C1_COUNT_TOTAL,SYMBOL,C2_COUNT_MEN+,SYMBOL.1
2691,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,61,Living common-law,NaN,70.0,NaN,35.0,NaN
2692,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,62,Living common law - Never married,NaN,50.0,NaN,30.0,NaN
2693,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,63,Living common law - Separated,NaN,0.0,NaN,0.0,NaN
2694,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,64,Living common law - Divorced,NaN,20.0,NaN,10.0,NaN
2695,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,65,Living common law - Widowed,NaN,0.0,NaN,0.0,NaN
2696,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,66,Not married and not living common-law,NaN,1390.0,NaN,950.0,NaN
2697,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,67,Not married and not living common law - Ne...,NaN,1060.0,NaN,770.0,NaN
2698,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,68,Not married and not living common law - Se...,NaN,60.0,NaN,45.0,NaN
2699,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,69,Not married and not living common law - Di...,NaN,140.0,NaN,95.0,NaN
2700,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,70,Not married and not living common law - Wi...,NaN,130.0,NaN,35.0,NaN
2701,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,71,Total - Census families in private households ...,5.0,680.0,NaN,NaN,...
2702,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,72,2 persons,NaN,310.0,NaN,NaN,...
2703,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,73,3 persons,NaN,120.0,NaN,NaN,...
2704,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,74,4 persons,NaN,145.0,NaN,NaN,...
2705,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,75,5 or more persons,NaN,105.0,NaN,NaN,...
2706,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,76,Average size of census families,NaN,3.1,NaN,NaN,...
2707,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,77,Average number of children in census families ...,6.0,2.1,NaN,NaN,...
2708,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,78,Total number of census families in private hou...,NaN,675.0,NaN,NaN,...
2709,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,79,Total couple families,NaN,590.0,NaN,NaN,...
2710,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,80,Married couples,NaN,550.0,NaN,NaN,...
2711,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,81,With children,6.0,310.0,NaN,NaN,...
2712,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,82,Without children,NaN,245.0,NaN,NaN,...
2713,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,83,Common-law couples,NaN,35.0,NaN,NaN,...
2714,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,84,With children,6.0,5.0,NaN,NaN,...
2715,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,85,Without children,NaN,30.0,NaN,NaN,...
2716,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,86,Total one-parent families,NaN,90.0,NaN,NaN,...
2717,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,87,in which the parent is a woman+,NaN,70.0,NaN,NaN,...
2718,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,88,in which the parent is a man+,NaN,20.0,NaN,NaN,...
2719,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,89,Total - Persons in private households - 100% data,NaN,2405.0,NaN,1230.0,NaN
2720,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,90,Total - Persons in census families,NaN,2115.0,NaN,1070.0,NaN
2721,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,91,Married spouses or common-law partners,NaN,1175.0,NaN,585.0,NaN
2722,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,92,Parents in one-parent families,NaN,90.0,NaN,20.0,NaN
2723,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,93,Children,6.0,850.0,NaN,465.0,NaN
2724,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,94,In a two-parent family,NaN,685.0,NaN,365.0,NaN
2725,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,95,In a one-parent family,NaN,165.0,NaN,95.0,NaN
2726,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,96,Total - Persons not in census families in pr...,NaN,295.0,NaN,160.0,NaN
2727,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,97,Living alone,NaN,100.0,NaN,65.0,NaN
2728,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,98,Living with other relatives,7.0,110.0,NaN,50.0,NaN
2729,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,99,Living with non-relatives only,NaN,80.0,NaN,50.0,NaN
2730,2021,2021S05079320001.00,9320001.0,Census tract,9320001.00,4.7,5.7,0,100,Total - Household type - 100% data,NaN,660.0,NaN,NaN,...

In [48]:
geos = list(data['ALT_GEO_CODE'].unique())

In [16]:
print(len(geos))
print(len(others))

6338
5770

In [52]:
print(data2['ALT_GEO_CODE'].value_counts())
data['ALT_GEO_CODE'].value_counts()

ALT_GEO_CODE
1            2247
1000100      2247
1000200      2247
1000301      2247
1000302      2247
             ...
970010000    2247
970010100    2247
970010200    2247
970010301    2247
970010302    2247
Name: count, Length: 5770, dtype: int64

ALT_GEO_CODE
9320001.00    2631
9320002.00    2631
9320003.00    2631
9320004.00    2631
9320005.01    2631
              ...
8600150.00    2631
8600160.00    2631
8600170.00    2631
8600180.00    2631
8600190.00    2631
Name: count, Length: 6247, dtype: int64

In [68]:
data2[data2['GEO_CODE (POR)'] == 9320005.01].iloc[:, :15]

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Profile of Census Tracts (2247),Member ID: Profile of Census Tracts (2247),Notes: Profile of Census Tracts (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
11511381,2016,9320005.01,2,0005.01,4.4,7.0,1,932000501,"Population, 2016",1,1.0,3715,...,...
11511382,2016,9320005.01,2,0005.01,4.4,7.0,1,932000501,"Population, 2011",2,2.0,3572,...,...
11511383,2016,9320005.01,2,0005.01,4.4,7.0,1,932000501,"Population percentage change, 2011 to 2016",3,NaN,4.0,...,...
11511384,2016,9320005.01,2,0005.01,4.4,7.0,1,932000501,Total private dwellings,4,3.0,1384,...,...
11511385,2016,9320005.01,2,0005.01,4.4,7.0,1,932000501,Private dwellings occupied by usual residents,5,4.0,1280,...,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11513623,2016,9320005.01,2,0005.01,4.4,7.0,1,932000501,Migrants,2243,NaN,650,385,265
11513624,2016,9320005.01,2,0005.01,4.4,7.0,1,932000501,Internal migrants,2244,NaN,370,205,165
11513625,2016,9320005.01,2,0005.01,4.4,7.0,1,932000501,Intraprovincial migrants,2245,NaN,315,175,140
11513626,2016,9320005.01,2,0005.01,4.4,7.0,1,932000501,Interprovincial migrants,2246,NaN,55,25,25
11513627,2016,9320005.01,2,0005.01,4.4,7.0,1,932000501,External migrants,2247,NaN,280,180,100

In [63]:
#data2 = pd.read_csv('98-401-X2016043_English_CSV_data.csv')
#print(data2[data2['GEO_CODE (POR)']== '9320001.00'
others = data2['GEO_CODE (POR)'].unique()
matches = []
counter = 0
for item in geos:

    if item in others:
        matches.append(item)
        if counter<5:
            print(item)
    counter+=1
print(len(matches))

9320001.0
9320002.0
9320003.0
9320004.0
9320005.01
5365

In [4]:
import pandas as pd
data = pd.read_csv('98-401-X2016043_English_CSV_data.csv')
data.head()

C:\Users\adam1\AppData\Local\Temp\ipykernel_62044\249115896.py:2: DtypeWarning: Columns (3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('98-401-X2016043_English_CSV_data.csv')

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Profile of Census Tracts (2247),Member ID: Profile of Census Tracts (2247),Notes: Profile of Census Tracts (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,1.0,1,St. John's,3.5,5.3,0,1,"Population, 2016",1,1.0,205955.0,...,...
1,2016,1.0,1,St. John's,3.5,5.3,0,1,"Population, 2011",2,2.0,196954.0,...,...
2,2016,1.0,1,St. John's,3.5,5.3,0,1,"Population percentage change, 2011 to 2016",3,NaN,4.6,...,...
3,2016,1.0,1,St. John's,3.5,5.3,0,1,Total private dwellings,4,3.0,92353.0,...,...
4,2016,1.0,1,St. John's,3.5,5.3,0,1,Private dwellings occupied by usual residents,5,4.0,85015.0,...,...

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12965190 entries, 0 to 12965189
Data columns (total 14 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   CENSUS_YEAR                                 int64
 1   GEO_CODE (POR)                              float64
 2   GEO_LEVEL                                   int64
 3   GEO_NAME                                    object
 4   GNR                                         float64
 5   GNR_LF                                      float64
 6   DATA_QUALITY_FLAG                           int64
 7   ALT_GEO_CODE                                int64
 8   DIM: Profile of Census Tracts (2247)        object
 9   Member ID: Profile of Census Tracts (2247)  int64
 10  Notes: Profile of Census Tracts (2247)      float64
 11  Dim: Sex (3): Member ID: [1]: Total - Sex   object
 12  Dim: Sex (3): Member ID: [2]: Male          object
 13  Dim: Sex (3): Member ID: [3]: Female        object
dtypes: float64(4), int64(5), object(5)
memory usage: 1.4+ GB

In [7]:
import pandas as pd
data = pd.read_csv("98-401-X2021007_English_CSV_data.csv", encoding = 'latin1')
data.head()

C:\Users\adam1\AppData\Local\Temp\ipykernel_47076\3203426935.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("98-401-X2021007_English_CSV_data.csv", encoding = 'latin1')

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,...,C2_COUNT_MEN+,SYMBOL.1,C3_COUNT_WOMEN+,SYMBOL.2,C10_RATE_TOTAL,SYMBOL.3,C11_RATE_MEN+,SYMBOL.4,C12_RATE_WOMEN+,SYMBOL.5
0,2021,2021S0503932,932.0,Census metropolitan area,Abbotsford - Mission,2.7,3.7,0,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
1,2021,2021S0503932,932.0,Census metropolitan area,Abbotsford - Mission,2.7,3.7,0,2,"Population, 2016",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
2,2021,2021S0503932,932.0,Census metropolitan area,Abbotsford - Mission,2.7,3.7,0,3,"Population percentage change, 2016 to 2021",...,NaN,...,NaN,...,8.4,NaN,NaN,...,NaN,...
3,2021,2021S0503932,932.0,Census metropolitan area,Abbotsford - Mission,2.7,3.7,0,4,Total private dwellings,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
4,2021,2021S0503932,932.0,Census metropolitan area,Abbotsford - Mission,2.7,3.7,0,5,Private dwellings occupied by usual residents,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16567407 entries, 0 to 16567406
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   CENSUS_YEAR          int64
 1   DGUID                object
 2   ALT_GEO_CODE         float64
 3   GEO_LEVEL            object
 4   GEO_NAME             object
 5   TNR_SF               float64
 6   TNR_LF               float64
 7   DATA_QUALITY_FLAG    int64
 8   CHARACTERISTIC_ID    int64
 9   CHARACTERISTIC_NAME  object
 10  CHARACTERISTIC_NOTE  float64
 11  C1_COUNT_TOTAL       float64
 12  SYMBOL               object
 13  C2_COUNT_MEN+        float64
 14  SYMBOL.1             object
 15  C3_COUNT_WOMEN+      float64
 16  SYMBOL.2             object
 17  C10_RATE_TOTAL       float64
 18  SYMBOL.3             object
 19  C11_RATE_MEN+        float64
 20  SYMBOL.4             object
 21  C12_RATE_WOMEN+      float64
 22  SYMBOL.5             object
dtypes: float64(10), int64(3), object(10)
memory usage: 2.8+ GB

In [8]:
data['GEO_NAME'].value_counts()

GEO_NAME
8600190.0               2631
Abbotsford - Mission    2631
9320001.00              2631
9320002.00              2631
8600006.02              2631
                        ...
5750110.0                 21
5410001.03                11
5370224.04                10
4470008.00                 4
5430005.00                 1
Name: count, Length: 6388, dtype: int64

In [1]:
import data_processing as dp

proc = dp.DataBuilder()
proc.get_dataset_2016()
proc.get_dataset_2021()
data1, data2 = proc.combine_data()

downloading 2016 census data
File '2016_cts.zip' downloaded successfully.
downloading 2021 census data
File '2021_cts.zip' downloaded successfully.

c:\Users\adam1\harmonized_census_data\data_processing.py:110: DtypeWarning: Columns (3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2016_raw = pd.read_csv(output_file)
c:\Users\adam1\harmonized_census_data\data_processing.py:97: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2021_raw = pd.read_csv(output_file, encoding = 'latin1')

In [2]:
data1.info()
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11454 entries, 0 to 11599
Data columns (total 8 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ALT_GEO_CODE                             11454 non-null  float64
 1   CENSUS_YEAR                              11454 non-null  int64
 2   AGGREGATE_CT                             11454 non-null  int64
 3   Average age of the population            11454 non-null  float64
 4   Average size of census families          11454 non-null  float64
 5   Population                               11454 non-null  float64
 6   Population density per square kilometre  11454 non-null  float64
 7   Total private dwellings                  11454 non-null  float64
dtypes: float64(6), int64(2)
memory usage: 805.4 KB
<class 'pandas.core.frame.DataFrame'>
Index: 6431 entries, 0 to 6506
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   AGGREGATE_CT                             6431 non-null   int64
 1   CENSUS_YEAR                              6431 non-null   int64
 2   Average age of the population            6431 non-null   float64
 3   Average size of census families          6431 non-null   float64
 4   Population                               6431 non-null   float64
 5   Population density per square kilometre  6431 non-null   float64
 6   Total private dwellings                  6431 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 401.9 KB

In [5]:
import pandas as pd
t = pd.read_csv('98-401-X2016043_English_CSV_data.csv')

C:\Users\adam1\AppData\Local\Temp\ipykernel_41660\3717547986.py:2: DtypeWarning: Columns (3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  t = pd.read_csv('98-401-X2016043_English_CSV_data.csv')

In [9]:
t['DIM: Profile of Census Tracts (2247)'].value_counts()

DIM: Profile of Census Tracts (2247)
French                46160
English               46160
English and French    40390
Korean                34620
Japanese              34620
                      ...
45 to 49 years         5770
40 to 44 years         5770
35 to 39 years         5770
30 to 34 years         5770
25 to 29 years         5770
Name: count, Length: 1134, dtype: int64

In [4]:
import pandas as pd
test1 = pd.read_csv('final_data_agg.csv')
test2 = pd.read_csv('final_data_long.csv')

In [7]:
print(len(test1))
print(len(test1.dropna()))

6507
3243

In [2]:
data1.info()

NameError: name 'data1' is not defined

In [8]:
dat = data1.pivot_table(index = ['ALT_GEO_CODE', 'CENSUS_YEAR', 'AGGREGATE_CT'], columns = ['CHARACTERISTIC_NAME'], values = 'C1_COUNT_TOTAL').reset_index()
dat.groupby(['AGGREGATE_CT', 'CENSUS_YEAR']).median().reset_index()

CHARACTERISTIC_NAME,AGGREGATE_CT,CENSUS_YEAR,ALT_GEO_CODE,Average age of the population,Average size of census families,Population,Population density per square kilometre,Total private dwellings
0,10001,2016,10001.000,41.40,2.80,1734.0,171.70,719.0
1,10001,2021,10001.000,43.60,2.70,1643.0,161.90,764.0
2,10002,2016,10002.000,46.00,2.60,4538.0,2288.50,2318.0
3,10002,2021,10002.000,47.40,2.60,4451.0,2266.50,2271.0
4,10003,2016,10003.015,43.15,2.65,4466.5,2505.95,2281.0
...,...,...,...,...,...,...,...,...
6424,9700101,2021,9700101.000,42.90,2.70,4375.0,6.60,1802.0
6425,9700102,2016,9700102.000,41.20,2.90,3527.0,1.30,1354.0
6426,9700102,2021,9700102.000,42.20,2.80,3603.0,1.30,1586.0
6427,9700103,2016,9700103.015,37.95,3.00,1784.0,11.30,785.5
6428,9700103,2021,9700103.015,42.20,2.70,1777.5,9.25,771.0

In [4]:
print(data2[(data2['Average age of the population, 2016'].isna()) & ~(data2['Average age of the population, 2021'].isna())])

CHARACTERISTIC_NAME  ALT_GEO_CODE  Average age of the population, 2016  \
872                    4620268.03                                  NaN
1587                   5050050.00                                  NaN
1962                   5350006.00                                  NaN
2192                   5350205.00                                  NaN
4146                   8100010.00                                  NaN
4394                   8350001.01                                  NaN
4735                   9300012.04                                  NaN

CHARACTERISTIC_NAME  Average size of census families, 2016  \
872                                                    NaN
1587                                                   NaN
1962                                                   NaN
2192                                                   NaN
4146                                                   NaN
4394                                                   NaN
4735                                                   NaN

CHARACTERISTIC_NAME  Population density per square kilometre, 2016  \
872                                                            0.0
1587                                                        2638.4
1962                                                           0.0
2192                                                         204.8
4146                                                           2.5
4394                                                           3.0
4735                                                          72.3

CHARACTERISTIC_NAME  Population, 2016  Total private dwellings, 2016  \
872                               0.0                            0.0
1587                           1158.0                          519.0
1962                              0.0                            0.0
2192                            149.0                            0.0
4146                             30.0                            9.0
4394                             20.0                            4.0
4735                             15.0                            5.0

CHARACTERISTIC_NAME  Average age of the population, 2021  \
872                                                 40.4
1587                                                34.4
1962                                                82.0
2192                                                75.0
4146                                                34.0
4394                                                47.0
4735                                                30.4

CHARACTERISTIC_NAME  Average size of census families, 2021  \
872                                                    2.4
1587                                                   2.3
1962                                                   NaN
2192                                                   NaN
4146                                                   2.7
4394                                                   2.8
4735                                                   3.0

CHARACTERISTIC_NAME  Population density per square kilometre, 2021  \
872                                                          384.3
1587                                                        1735.4
1962                                                        9224.8
2192                                                         193.3
4146                                                          20.6
4394                                                           7.8
4735                                                         215.5

CHARACTERISTIC_NAME  Population, 2021  Total private dwellings, 2021
872                             489.0                          430.0
1587                            770.0                          616.0
1962                            119.0                            1.0
2192                            144.0                            1.0
4146                            250.0                          138.0
4394                             52.0                           21.0
4735                             45.0                           13.0

In [2]:
proc.data_2016[proc.data_2016['C1_COUNT_TOTAL'] == 'x']

,CENSUS_YEAR,ALT_GEO_CODE,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,C1_COUNT_TOTAL
267431,2016,2050130.05,39,"Average age of the population, 2016",x
267465,2016,2050130.05,73,"Average size of census families, 2016",x
292148,2016,2050132.09,39,"Average age of the population, 2016",x
292182,2016,2050132.09,73,"Average size of census families, 2016",x
321359,2016,2050154.01,39,"Average age of the population, 2016",x
...,...,...,...,...,...
12529344,2016,9330290.06,73,"Average size of census families, 2016",x
12551780,2016,9330400.07,39,"Average age of the population, 2016",x
12551814,2016,9330400.07,73,"Average size of census families, 2016",x
12554027,2016,9330400.08,39,"Average age of the population, 2016",x
12554061,2016,9330400.08,73,"Average size of census families, 2016",x

In [3]:
proc.data_2016.pivot_table(index = ['ALT_GEO_CODE'], columns = ['CHARACTERISTIC_NAME'], values = 'C1_COUNT_TOTAL').reset_index()

CHARACTERISTIC_NAME,ALT_GEO_CODE,"Average age of the population, 2016","Average size of census families, 2016","Population density per square kilometre, 2016","Population, 2016","Total private dwellings, 2016"
0,1.00,40.3,2.8,255.9,205955.0,92353.0
1,205.00,40.9,2.8,73.4,403390.0,187478.0
2,305.00,41.7,2.7,56.6,144810.0,66699.0
3,310.00,42.3,2.8,36.0,126202.0,58398.0
4,320.00,40.7,2.8,17.7,101760.0,46459.0
...,...,...,...,...,...,...
5760,9700100.00,43.0,2.7,0.1,1246.0,586.0
5761,9700101.00,41.9,2.8,6.4,4278.0,1785.0
5762,9700102.00,41.2,2.9,1.3,3527.0,1354.0
5763,9700103.01,35.7,3.2,20.1,105.0,35.0
5764,9700103.02,40.2,2.8,2.5,3463.0,1536.0

In [4]:
print(data1.head(6))
data2.head()

      CENSUS_YEAR  ALT_GEO_CODE  CHARACTERISTIC_ID  \
2247         2016       10001.0                  1
2250         2016       10001.0                  4
2252         2016       10001.0                  6
2285         2016       10001.0                 39
2319         2016       10001.0                 73
4494         2016       10002.0                  1

                                CHARACTERISTIC_NAME  C1_COUNT_TOTAL
2247                               Population, 2016          1734.0
2250                  Total private dwellings, 2016           719.0
2252  Population density per square kilometre, 2016           171.7
2285            Average age of the population, 2016            41.4
2319          Average size of census families, 2016             2.8
4494                               Population, 2016          4538.0

CHARACTERISTIC_NAME,ALT_GEO_CODE,"Average age of the population, 2016","Average size of census families, 2016","Population density per square kilometre, 2016","Population, 2016","Total private dwellings, 2016","Average age of the population, 2021","Average size of census families, 2021","Population density per square kilometre, 2021","Population, 2021","Total private dwellings, 2021"
0,10001.00,41.4,2.8,171.7,1734.0,719.0,43.6,2.7,161.9,1643.0,764.0
1,10002.00,46.0,2.6,2288.5,4538.0,2318.0,47.4,2.6,2266.5,4451.0,2271.0
2,10003.01,44.4,2.6,2612.3,4223.0,2144.0,46.8,2.6,2569.0,4151.0,2298.0
3,10003.02,41.9,2.7,2399.6,4710.0,2418.0,44.7,2.6,2366.7,4666.0,2479.0
4,10005.01,46.0,2.5,2387.2,2313.0,1331.0,46.3,2.5,2289.1,2217.0,1351.0

In [3]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57901 entries, 2247 to 16564851
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CENSUS_YEAR          57901 non-null  int64
 1   ALT_GEO_CODE         57901 non-null  float64
 2   CHARACTERISTIC_ID    57901 non-null  int64
 3   CHARACTERISTIC_NAME  57901 non-null  object
 4   C1_COUNT_TOTAL       57712 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.7+ MB

In [12]:

proc.data_2021.pivot_table(index = ['ALT_GEO_CODE'], columns = ['CHARACTERISTIC_NAME'], values = 'C1_COUNT_TOTAL').reset_index().info()#.drop(columns = ['CHARACTERISTIC_NAME'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6240 entries, 0 to 6239
Data columns (total 6 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   ALT_GEO_CODE                                   6240 non-null   float64
 1   Average age of the population, 2021            6165 non-null   float64
 2   Average size of census families, 2021          6161 non-null   float64
 3   Population density per square kilometre, 2021  6240 non-null   float64
 4   Population, 2021                               6240 non-null   float64
 5   Total private dwellings, 2021                  6240 non-null   float64
dtypes: float64(6)
memory usage: 292.6 KB

In [ ]:
import seaborn as sns

grouped = data1.groupby('CENSUS_YEAR')['Average size of census families']

In [12]:

data21 = pd.read_csv('98-401-X2021007_English_CSV_data.csv', encoding = 'latin1')
data16 = pd.read_csv('98-401-X2016043_English_CSV_data.csv')

C:\Users\adam1\AppData\Local\Temp\ipykernel_57508\799057009.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data21 = pd.read_csv('98-401-X2021007_English_CSV_data.csv', encoding = 'latin1')
C:\Users\adam1\AppData\Local\Temp\ipykernel_57508\799057009.py:2: DtypeWarning: Columns (3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data16 = pd.read_csv('98-401-X2016043_English_CSV_data.csv')

In [14]:
data16.head()

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Profile of Census Tracts (2247),Member ID: Profile of Census Tracts (2247),Notes: Profile of Census Tracts (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,1.0,1,St. John's,3.5,5.3,0,1,"Population, 2016",1,1.0,205955.0,...,...
1,2016,1.0,1,St. John's,3.5,5.3,0,1,"Population, 2011",2,2.0,196954.0,...,...
2,2016,1.0,1,St. John's,3.5,5.3,0,1,"Population percentage change, 2011 to 2016",3,NaN,4.6,...,...
3,2016,1.0,1,St. John's,3.5,5.3,0,1,Total private dwellings,4,3.0,92353.0,...,...
4,2016,1.0,1,St. John's,3.5,5.3,0,1,Private dwellings occupied by usual residents,5,4.0,85015.0,...,...

In [7]:
import pandas as pd
ada16 = pd.read_csv('98-401-X2016050_English_CSV_data.csv')
ada21 = pd.read_csv('98-401-X2021012CI_English_CSV_data.csv', encoding = 'latin1')

C:\Users\adam1\AppData\Local\Temp\ipykernel_57508\1686457560.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  ada16 = pd.read_csv('98-401-X2016050_English_CSV_data.csv')

In [17]:
print(len(data16['GEO_CODE (POR)'].unique()))
print(len(data21['ALT_GEO_CODE'].unique()))

5770
6297

In [20]:
data16.head()
data16['GEO_CODE (POR)'].value_counts()

GEO_CODE (POR)
1.00          2247
10001.00      2247
10002.00      2247
10003.01      2247
10003.02      2247
              ...
9700100.00    2247
9700101.00    2247
9700102.00    2247
9700103.01    2247
9700103.02    2247
Name: count, Length: 5770, dtype: int64

In [28]:
data16['AGGREGATE_CT'] = data16['GEO_CODE (POR)'].astype(int)
data21['AGGREGATE_CT'] = data21['ALT_GEO_CODE'].astype(int)

In [29]:
geo21 = data16['AGGREGATE_CT'].unique()
geo16= data21['AGGREGATE_CT'].unique()
matches = []
counter = 0
for item in geo21:
    if item in geo16:
        matches.append(item)
    else:
        print(item)
    counter+=1
print(len(matches))

8600110
8600130
9150100
9150101
3277